%head
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  %h1= "#{@name}'s Blog" 

%body
  - @posts.each do |t|
    %h2= t.title
    %p= t.body